# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

# IDE
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/
.project
.classpath
.settings/
bin/

# OS
.DS_Store
Thumbs.db

# Tooling
hs_err_pid*
replay_pid*
*.log
deps.txt

# Maven staging output from publish task
**/staging-deploy/
